---
const res = await fetch("http://localhost:8000/?rest_route=/wp/v2/posts");
const posts = await res.json();
---

<h1>Astro + WordPress</h1>

{
  posts.map((post) => (
    <h2 set:html={post.title.rendered} />
    <a href={post.link}>Read more</a>
    // <p set:html={post.content.rendered} />
  ))
}